    <!-- Javascript -->          
    <script type="text/javascript" src="{{ .Site.BaseURL }}assets/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}assets/plugins/bootstrap/js/bootstrap.min.js"></script>    
    <!-- custom js -->
    <script type="text/javascript" src="{{ .Site.BaseURL }}assets/js/main.js"></script>

    <!-- Include the library. -->
    <script src="{{ .Site.BaseURL }}assets/js/github-calendar.min.js"></script>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/github-calendar-responsive.css"/>
    <script>
        GitHubCalendar(".calendar", "richarvey", { responsive: true });
    </script>
